
@{
    ViewBag.Title = "Body";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<link rel="stylesheet" href="../Content/style-BodyForm.css">

<div class="Content">
    <!-- Đây Là Chỗ Để Render Body Khi Quăng Vào MVC -->
    <!-- Nó Sẽ Thay Đổi Dựa Theo Người Dùng Muốn Click Coi Gì -->
    <div class="container-fluid">
        <div class="row">
            <div class="Home col-lg-2 col-md-3 col-sm-5 col-10 fw-bold my-2 mx-3">Body</div>
        </div>
        <form action="#">
            <h2>Change Body</h2>
            <!-------------------------------->
            <label class="banner" for="banner1">Banner 1: </label> <input type="text" name="text-banner1" id="text" class="text-banner"><br>
            <!-------------------------------->
            <label class="banner" for="banner2">Banner 2: </label> <input type="text" name="text-banner2" id="text" class="text-banner"><br>
            <!-------------------------------->
            <label class="banner" for="banner3">Banner 3: </label> <input type="text" name="text-banner3" id="text" class="text-banner"><br>
            <!-------------------------------->
            <label class="banner" for="banner4">Banner 4: </label> <input type="text" name="text-banner4" id="text" class="text-banner"><br>
            <!-------------------------------->
            <label class="banner" for="banner5">Banner 5: </label> <input type="text" name="text-banner5" id="text" class="text-banner"><br>
            <!-------------------------------->
            <input type="submit" value="SEND" id="send-btn" class="button mt-2">
        </form>
    </div>
</div>

