
@{
    ViewBag.Title = "Header";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<link rel="stylesheet" href="../Content/style-HeaderForm.css">

<div class="Content animated fadeIn">
    <!-- Đây Là Chỗ Để Render Body Khi Quăng Vào MVC -->
    <!-- Nó Sẽ Thay Đổi Dựa Theo Người Dùng Muốn Click Coi Gì -->
    <div class="container-fluid">
        <div class="row">
            <div class="Home col-lg-2 col-md-3 col-sm-5 col-10 fw-bold my-2 mx-3">Header</div>
        </div>
        <form action="#">
            <h2>Change Header</h2>
            <!-------------------------------->
            <label class="logolbl" for="logo">Logo: </label> <input type="text" name="text-logo" id="text" class="text-logo"><br>
            <!-------------------------------->
            <label for="accountIcon">Account Icon: </label> <input type="text" name="text-account" id="text" class="text-account"><br>
            <!-------------------------------->
            <label class="cartlbl" for="cartIcon">Cart Icon: </label> <input type="text" name="text-cart" id="text" class="text-cart"><br>
            <!-------------------------------->
            <input type="submit" value="SEND" id="send-btn" class="button mt-2">
        </form>
    </div>
</div>

