
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="Content">
    <!-- Đây Là Chỗ Để Render Body Khi Quăng Vào MVC -->
    <!-- Nó Sẽ Thay Đổi Dựa Theo Người Dùng Muốn Click Coi Gì -->
    <div class="container-fluid">
        <div class="row">
            <div class="Home col-lg-2 col-md-3 col-sm-5 col-10 fw-bold my-2 mx-3">Trang Chủ</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="Note card bg-light mb-3">
                    <div class="card-header">Note</div>
                    <div class="card-body">
                        <h5 class="card-title">Sale Days</h5>
                        <p class="card-text">
                            2/9: Lễ Quốc Khánh <br>
                            9/9: Ngày Siêu Mua Sắm <br>
                            11/11: Lễ Độc Thân <br>
                            12/12: Ngày Siêu Mua Sắm
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="Note card text-white bg-primary mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="Note card text-white bg-info mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Info card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">Biểu Đồ Doanh Thu</div>
                    <div class="card-body">
                        <div id="curve_chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

