
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../Content/style-Login.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</head>
<body>
    <div class="center animated fadeIn">
        <img src="../Content/Images/Icon/kisspng-logo-brand-retail-price-book-store-5b1ff6bb22f1a4.9079057215288214351431-removebg-preview.png" alt="">
        <form method="post" action="#">
            <div class="txt_field">
                <input type="text" name="username" id="" autocomplete="off" required>
                <label for="label-account">Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="" autocomplete="off" required>
                <label for="label-account">Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
            <input type="submit" name="" value="Login">
            <div class="signup_link">
                Not a member? <a href="@Url.Action("SignUp","Home")">Sign Up</a>
            </div>
        </form>
    </div>
</body>
</html>
