
@{
    ViewBag.Title = "UpdateInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/style-UpdateInfo.css">

<div class="update-info mt-5">
    <h4 class="mb-4">Cập Nhật Thông Tin</h4>
    <form action="">
        <label class="lbl_txt" for="">Tên</label> <br>
        <input class="mb-2" type="text" name="" id=""> <br>
        <label class="lbl_txt" for="">Email</label> <br>
        <input class="mb-2" type="email" name="" id=""> <br>
        <label class="lbl_txt" for="">Số Điện Thoại</label> <br>
        <input class="mb-2" type="tel" id="phone" name="phone"><br>
        <label class="lbl_txt" for="">Khu Vực</label> <br>
        <input class="mb-2" type="tel" id="phone" name="phone"><br>
        <input class="mt-3 mb-5" type="submit" value="Cập Nhật">
    </form>
</div>

