    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
    background: white;
}

    --HeightNav: 80px;
}
/* Navigation */
    height: var(--HeightNav);
}
    width: 200px;
}

/* Container */
    background: white;
    text-align: center;
    height: 250px;
}
        font-weight: 900;
    }
    }
        text-decoration: none;
        color: black;
        font-weight: 700;
        padding: 20px;
    }
    border: 2px solid black;
    cursor: pointer;
}
    text-align: center;
}
        font-size: 12px;
        color: #707070;
    }
        font-size: 15px;
        text-decoration: none;
        color: #808080;
    }
            font-size: 15px;
            text-decoration: none;
            color: black;
        }
    color: black !important;
    font-size: 16px !important;
    font-weight: 700;
    padding-top: 20%;
}
    background: black;
    width: 45%;
    text-align: center;
    font-weight: 600;
    margin-left: 27%;
    font-size: 14px;
}
        text-decoration: none;
        color: white;
    }

/* Footer */
    background: rgba(0, 0, 0, 0.884);
    color: white;
}
}
}
    text-decoration: none;
    color: white;
}

    .socialmedia a:hover, .policy a:hover {
        text-decoration: underline white;
        color: white;
    }

.emailcontact {
    margin-top: -12%;
}
/* Map */
.map {
    padding-left: 4%;
}
