@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    /* Container */
    .bill-history{
        margin-left: 10%;
    }
    .bill-history h4{
        font-weight: 700;
        color: #ff723b;
    }
    table{
        width: 80% !important;
        margin-top: 50px;
        margin-left: 5%;
        margin-bottom: 150px !important;
    }
        td a{
            text-decoration: none;
            color: red;
            font-weight: 700;
            font-size: 13px;
        }
        td a:hover{
            color: red;
        }

