*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:991px) {
    .Content{
        transform: translateX(-20%) !important;
    }
}
@media screen and (max-width:767px) {
    .Content{
        transform: translateX(-40%) !important;
    }
}
body{
    background:#333;
}

:root{
    --offcanvas-width:270px;
    --topNavbarHeight:75px;
}

/* Content */
.Content{
    margin-left: var(--offcanvas-width);
}
    .listsearch{
        color: white;
        font-weight: 500;
        margin-left: 10%;
    }
    .Home{
        color: white;
        background:#ff723b;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 10px 40px rgba(143, 143, 143, 0.719) !important;
    }
    .btnlistsearch{
        background:#ff723b;
        color: white;
        font-size: 500;
    }
    .btnsearch {
        background: none;
        border-color: #ff723b;
        width: 100px;
        border-radius: .2rem #ff723b !important;
    }
        .btnsearch a {
            color: #ff723b;
            text-decoration: none;
        }
        .btnsearch:hover {
            background: #ff723b;
        }
        .btnsearch a:hover {
            color: white !important;
            text-decoration: none;
        }
    td a{
        text-decoration: none;
        color: white;
    }
        td a:hover {
            text-decoration: none;
            color: #ff723b;
        }