*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: white;
}

:root{
    --HeightNav: 80px;
}

/* Container */
.productName{
    background: rgba(0, 0, 0, 0.884);
    color: white;
    font-weight: 700 !important;
    width: 200px;
    height: 35px;
    border-radius: .5rem;
    text-align: center;
    margin-left: 16%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 60% !important;
    margin-left: 20%;
}
  
  th, td {
    text-align: left;
    padding: 8px;
  }
    .image{
        width: 150px;
    }
    td input{
        width: 50px;
        text-align: center;
    }
    .buy {
        text-align: center !important;
        width: 20%;
        border: 3px solid black;
        border-radius: .5rem;
        margin-left: 60%;
    }
    .buy:hover{
        background: black;
    }
        .buy a {
            font-weight: 500 !important;
            font-size: 20px !important;
            text-decoration: none !important;
            color: black;
        }
            .buy a:hover {
                color:white;
            }
.price {
    width:20%;
    text-align: center;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-left: 60%;
    color:red !important;
}
td a {
    text-decoration: none;
    color: white;
}
    td a:hover {
        text-decoration: none;
        color: white;
    }