*{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1200px){
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top:var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}

@media screen and (min-width:992px) {
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top:var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}
@media screen and (max-width:991px) {
    .Content{
        transform: translateX(-20%) !important;
    }
}
@media screen and (max-width:767px) {
    .Content{
        transform: translateX(-40%) !important;
    }
}
body{
    background:#333;
}

/* Content */
.Content{
    margin-left: var(--offcanvas-width);
}

    .Home{
        color: white;
        background:#ff723b;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 10px 40px rgba(143, 143, 143, 0.719) !important;
    }
    .table{
        width:100%;
    }
    .image{
        width: 200px;
    }
    td a{
        text-decoration: none;
        color: white;
    }
        td a:hover {
            text-decoration: none;
            color: #ff723b;
        }